@media (max-width: 1230px) {
    .container {
        width: 100%;
      }
}

@media (max-width: 800px) {
    nav {
        display: none;  
}
    }

@media (min-width: 800px) {
       
        .fa-burger {
        display: none;
        width: 31px;
        height: 31px;
    }
}
@media (min-width: 866px) {
       
    .container {
    width: 100%;
}
}